@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Universal Styles */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background: #FFFFFF;
    --font: #2D2D2D;
    --font-purple: #A445ED;
    --input-bg: #F4F4F4;
    --input-icon: #A445ED;
    --input-border: #A445ED;
    --input-border-error: #FF5252;
    --purple: #A445ED;
    --line: #e9e9e9;
    --box-shadow: #00000033;
  }
  
  .dark {
    --background: #151515;
    --font: #F2F2F2;
    --font-purple: #A445ED;
    --input-bg: #1F1F1F;
    --input-icon: #A445ED;
    --input-border: #A445ED;
    --input-border-error: #FF5252;
    --purple: #A445ED;
    --box-shadow: #a445ed;
  }
  













  